<app-patnav></app-patnav>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h2 align="center" style="background-color: #75E6DA;">DETAILS OF AVAILABLE DOCTORS</h2>
        </div>
            <div class="row g-3">
                <div *ngFor="let i of data" class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <div class="card">
                        <img height="450px" src="https://www.nicepng.com/png/detail/867-8678512_doctor-icon-physician.png" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.doctorName}}</h5>
                          <p class="card-text">{{i.doctorDepartment}}</p>
                        </div>
                    </div>
                </div>

            </div>
    </div>
</div>
