<app-admin></app-admin>
<div class="container">
    <div class="row g-5">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-5">
                <div *ngFor="let i of data2" class="col col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card text-bg-light">
                        <div class="card-body">
                            <h5 class="card-title">Name: {{i.patientName}} </h5>
                            <h5 class="card-title">Age: {{i.patientAge}} </h5>
                            <h5 class="card-title">Phone Number: {{i.patientPhonenumber}} </h5>
                            <h5 class="card-title">Username: {{i.patientUsername}} </h5>
                            <h5 class="card-title">Password: {{i.patientPassword}} </h5>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
